.height1
{
	height: 40px;
}
.margin2
{
	margin-left:10px;
}
.margin9
{
	margin-right:5px
}
.myindexitem1
{
	height:40px;
	line-height:44px
}
.myindexitem
{
	height: 35px;
	line-height: 40px;
}
.textcolor4
{
	color: #333333
}
.textcolor3
{
	color:#999
}
.textcolor2
{
	color: #666666;
	text-decoration:none;	
}
.textcolor5
{
	font-size:25px;
	color:#0099CC;
}
.textcolor6
{
	color:#aaa;
}
.textcolor7
{
	color: #FFFFFF;
}
.testsize
{
	font-size: 20px;
}
.textmargin1
{
	margin-bottom:10px;
	margin-left:15px;
	margin-right:10px;
	margin-top:10px;
}
.margin10
{
	margin-left:5px;
}
.margin1
{
	margin-top:10px;
}
.noborder
{
	border: none;
}
.fullwidth
{
	width: 100%;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.clear
{
	clear: both;
}
.vcenter
{
	display: inline-block;
	vertical-align: middle;
}
.albumImageBackground
{
	background:#ffffff;
}
.albumImagePadding
{
	padding: 5px;
}
.albumImageMargin
{
	margin: 5px;
}
.albumImageBorder
{
	border: solid 1px #ddd;
}
.page
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.poweredby
{
	height:60px;
	font-size:12px;
	background:transparent;
}
.actionbutton
{
	background-color: #DCC631;
}
.poweredbyimg
{
	width: 160px;
	height: 60px;
	margin-top: -50px;
}
.subject
{
	text-align: center;
	vertical-align:middle;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 22pt;
	font-weight: bold;
	overflow: hidden;
	word-wrap:normal;
	word-break:keep-all;
	white-space:nowrap;
	color: #09519b;
}
.logo
{
	height: 80px;
}
.contact_info_line
{
	border-top: solid 1px #ddd;
}
.contact_namecard_padding, .contact_info_padding, .activity_padding, .viewpage_content_padding, .communicationview_padding
{
	padding: 5px;
}
.productdetail_padding
{
	padding: 12px;
}
.productdetailbuttons
{
	margin-bottom: 25px;
}
.activity_title, .product_title
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}
.activity_time
{
	margin-bottom: 10px;
}
.aligncenter
{
	margin-left: auto;
	margin-right: auto;
}
.textaligncenter
{
	text-align: center;
}
.textalignright
{
	text-align: right;
}
.textoneline, .communicationlist_message, .communicationlist_message_unread
{
	white-space:nowrap;
	overflow:hidden;
}
.communicationlist_message, .communicationlist_message_unread
{
	color: #aaa;
}
.communicationlist_message_unread
{
	font-weight: bold;
	color: #000;
}
.communicationlist_time
{
	font-size: 9pt;
}

/*wp风格*/
.wp_body
{
	width: 320px;
	margin-left: auto;
	margin-right: auto;
}
.wp_menu
{
	width: 275px;
	padding: 0px 23px 0px 23px;
}
.wp_menu_item,.wp_menu_item1,.wp_menu_item2
{
	height: 100px;
	text-align: center;
	margin: 0px 0px 4px 4px;
}
.wp_menu_item1_container
{
	width: 230px;
	margin-left: auto;
	margin-left: auto;
}
.wp_menu_item1
{
	width: 108px;
}
.wp_menu_item2
{
	width: 220px;
}
.wp_menu_icon
{
	margin-top: 10px;
	margin-left:auto; 
	margin-right: auto; 
	width: 58px; 
	height: 58px;
}
.wp_login_image
{
	width: 20px;
	height: 20px;
}
/*九宫格*/
.cell9_menu, .cell6_menu
{
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 20px 0px 20px;
}
.cell9_menu_item_container
{
	width: 279px;
	margin-left: auto;
	margin-left: auto;
}
.cell9_menu_item
{
	height: 90px;
	width: 93px;
	text-align: center;
	margin: 0px 0px 4px 0px;
}
.cell9_menu_icon
{
	margin-left:auto; 
	margin-right: auto;
	margin-top: 20px; 
	width: 75px; 
	height: 75px;
}
.cell9_login_image, .cell6_login_image, .broadcast_login_image
{
	width: 20px;
	height: 20px;
	margin-top: 5px;
	background-color: black;
}
/*六宫格样式*/
.cell6_menu_item_container
{
	width: 260px;
	margin-left: auto;
	margin-left: auto;
}
.cell6_menu_item
{
	height: 130px;
	width: 120px;
	text-align: center;
	margin: 0px 0px 4px 0px;
	
}
.cell6_menu_icon
{
	margin-left:auto; 
	margin-right: auto;
	margin-top: 20px; 
	width:90px; 
	height: 90px;
}
.line2
{
	border-top:1px solid #ddd;
}
.center01
{
	text-align:center;
}

/*轮播样式*/
.broadcast_menu
{
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 10px 0px 10px;
}

.broadcast_menu_item_container
{
	width: 290px;
	margin-left: auto;
	margin-left: auto;
}

.broadcast_menu_item
{
	width: 70px;
	text-align: center;
	margin: 0px 0px 4px 0px;
}

.broadcast_menu_icon
{
	margin-left:auto; 
	margin-right: auto;
	margin-top: 20px; 
	width:55px; 
	height: 55px;
}

.broadcast_subject
{
	text-align: center;
	vertical-align:middle;
	background-image: url('../images/broadcastbg.png'); 
	background-repeat: repeat-x ;
	height: 58px;
	line-height: 58px;
	font-size: 22pt;
	font-weight: bold;
	overflow: hidden;
	word-wrap:normal;
	word-break:keep-all;
	white-space:nowrap;
}

.broadcast_subject_logo
{
	height: 58px;
}

.broadcast_poweredby
{
	height:40px;
	font-size:12px;
	background:transparent;
	background-color:#A6A6A6;
}
.braodcast .x-carousel-indicator
{
	-webkit-box-flex: 1;
	display: -webkit-box;
	display: box;
	-webkit-box-pack: center;
	box-pack: center;
	-webkit-box-align: center;
	box-align: center;
	background: #ccc;
}
.braodcast .x-carousel-indicator-horizontal
{
	height: 18px;
	width: 100%;
}

.triangle-border {
	position:relative;
	padding:15px;
	margin:1em 0 1em;
	border:1px solid #b3b3b3;
	color:#333;
	background:#a5cc2c;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px
}